

*{
  box-sizing: border-box;
}

body {
  /*padding: 20px;*/ 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #27292c;
  color: white;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  margin-top: 30px;
}

header {
 /* background-color: rgb(21, 19, 19);
  padding: 0%;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Ensures the shadow sits "on top" of the main section */
  z-index: 10;        /* Lifts it up so the shadow isn't hidden by the main content */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


ul {
 display: flex;
 list-style-type: none;
 margin: 1rem;
}
li{
  margin-right: 1rem;
  font-size: 1.1rem;

}


main {

  padding: 0%;
  flex:1;
}

footer {
  background-color: black;
  padding: 1.5rem;
}

.nav-logo{
  width: 3.5rem;
  margin-left: 0.5rem;
}
